---
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Portfolio">
  <div class="container col-xxl-8 px-4 py-5">
    <Hero
      title="Portfolio en Astro"
      imageUrl="https://placekitten.com/g/500/400"
      buttonText="Leer más"
      buttonLink="/about"
    >
    </Hero>
    <Projects />
  </div>
</SiteLayout>
