<footer class="mt-4 border-top fixed-bottom bg-primary">
    <p class="text-center text-white">
      <small>Creado gracias al bootcamp de <a href="https://webreactiva.com">Web Reactiva</a></small>
    </p>
</footer>
<style>
  a {
    color: white;
  }
</style>
