<footer class="mt-4 border-top fixed-bottom bg-primary">
    <p class="text-center text-white">
      <small> © Héitor González 2024. All rights reserved.</small>
    </p>
</footer>
<style>
  a {
    color: white;
  }
</style>
