 <header class="px-4 py-3 mb-4 border-bottom" >
  <nav class="navbar navbar-expand-lg navbar-light">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-4"> Mi Astro Web </span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="align" id="navbarTogglerDemo02">
    <ul class="nav nav-pills navbar-nav mt-2 mt-lg-0">

      <li class="nav-item">
        <a href="/" class="nav-link"> Inicio </a>
      </li>

      <li class="nav-item">
        <a href="/about" class="nav-link"> Sobre mí </a>
      </li>

      <li class="nav-item">
        <a href="/contacto" class="nav-link"> Contacto </a>
      </li>

    </ul>
  </div>
</nav>

<!--
<style>
  .nav-menu {
    position: absolute;
    right: 0px;
  }
 -->
  
</style>

</header>
